.sideImg {
  width: 100px;
  height: 200px;
  box-shadow: 2px 3px 15px #C67E2A;
  animation: float 4s infinite;
}

@keyframes float {
  0% {
    transform:  translateY(0);
  }
  50% {
    transform:  translateY(-10px);
  }
  100% {
    transform:  translateY(0px);
  }
}